@import "./base.css";

#app {
  width: 100%;
  margin: 0 auto;
  /* font-weight: normal; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

a,
.green {
  text-decoration: none;
  color: var(--color-text);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--theme-c-green-dark);
  }
}
